.button {
  width: 300px;
  height: 56px;
  border-radius: 10px;
  background: rgb(255, 165, 0);
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover{
    opacity: 0.7;
  }


  &__text {
    color: rgb(255, 255, 255);
    font-family: "FuturaFuturis";
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 40px;
  }
}
