.workScheme {
  margin: 0 auto;
  display: flex;
  flex-direction: column;


  &__title {
    color: rgb(17, 17, 17);
    font-family: "FuturaFuturis";
    font-size: 45px;
    font-weight: 700;
    line-height: 99.8%;
    text-align: center;
    margin: 34px auto 24px;
  }
  &__description {
    margin: 0 auto 46px;
    color: rgb(51, 51, 51);
    font-family: "Futura";
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

  }
  &__items{
    background-color: #f2f2f4;
    background-image: url("/images/workSchemeBackground.svg");
    background-repeat: no-repeat;
    max-width: 1350px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
