.benefitItem {
  max-width: 369px;
  width: 100%;
  min-height: 406px;
  border-radius: 10px;
  background-image: url("/images/card_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 32px;

  &__image {
    width: 157px;
    height: 163px;
    background-image: url('/images/benefitQuality.svg');
    margin: 40px 0 0;
  }

  &__title {
    color: rgb(42, 51, 108);
    font-family: "FuturaFuturis";
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    margin: 39px auto 14px;
  }
  &__description {
    color: rgb(85, 85, 85);
    font-family: "Futura";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0 auto 61px;
    z-index: 2;
  }
}
